<section id="about-me">
  <div class="about-me-container container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-thumb">
      <p class="about-me-text">
        I work with people all over the world to create impressive and
        <span class="accent-color-text">functional</span>
        <span class="transparent-color-text">websites</span> that reflect each
        client's unique personality.
      </p>
      <picture>
        <source
          srcset="
            ../img/about-me/about-desktop-x1.jpg 1x,
            ../img/about-me/about-desktop-x2.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ../img/about-me/about-tablet-x1.jpg 1x,
            ../img/about-me/about-tablet-x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/about-me/about-mob-x1.jpg 1x,
            ../img/about-me/about-mob-x2.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/about-me/about-mob-x1.jpg"
          alt="Developer Lloyd Jefferson"
          class="about-me-img"
        />
      </picture>
    </div>
    <ul class="about-list">
      <li class="about-list-item">
        <div class="about-list-item-wrapper">
        <h3 class="about-list-item-title">About me</h3>
        <button class="about-list-btn">
          <svg class="about-list-icon" width="18" height="18">
            <use href="../img/icons.svg#icon-icon-up"></use>
          </svg>
        </button>
      </div>
      <ul class="about-list-text-list">
        <li class="about-list-text-item paragr">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </li>
        <li class="about-list-text-item paragr">
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </li>
      </ul>
      </li>
      <li class="about-list-item">
         <div class="about-list-item-wrapper">
        <h3 class="about-list-item-title">Role</h3>
        <button class="about-list-btn">
          <svg class="about-list-icon" width="18" height="18">
            <use href="../img/icons.svg#icon-icon-down"></use>
          </svg>
        </button>
        </div>
      
      <ul class="about-list-text-list">
        <li class="about-list-text-item">Frontend development</li>
        <li class="about-list-text-item">HeadlessCMS,Wordpress</li>
        <li class="about-list-text-item">Blender(enjoy)</li>
      </ul>
      </li>
      <li class="about-list-item">
         <div class="about-list-item-wrapper">
        <h3 class="about-list-item-title">Education</h3>
        <button class="about-list-btn">
          <svg class="about-list-icon" width="18" height="18">
            <use href="../img/icons.svg#icon-icon-down"></use>
          </svg>
        </button>
        </div>
     
      <ul class="about-list-text-list">
        <li class="about-list-text-item">
          2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        </li>
        <li class="about-list-text-item">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </li>
        <li class="about-list-text-item">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </li>
      </ul>
       </li>
    </ul>
  </div>
</section>
